@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap')
.News
  background: white
  width: 100%
  height: 100vh
  display: flex
  padding: 20px
  flex-direction: column
  &__div
    position: relative
    left: 410px
    &__title
      font-family: 'Ubuntu'
      font-style: normal
      font-weight: 700
      font-size: 42px
      line-height: 25px
      color: #023047
    &__underline
      margin-top: -20px
      border: 3px solid #000000
      width: 128.02px
      margin-right: auto
      position: absolute
      left: 0

  &__btns
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 25px
    gap: 50px
    background: rgba(255, 255, 255, 0.28)
    backdrop-filter: blur(2px)
    border-radius: 25px
    padding: 25px
    &__btn
      font-family: 'Ubuntu'
      font-style: normal
      font-weight: 400
      font-size: 20px
      line-height: 25px
      text-transform: capitalize
      color: #FFFFFF
      padding: 15px 18px
      background: #023047
      border: 3px solid #219EBC
      border-radius: 12px
      &__active
        color: #FFFFFF
        padding: 15px 18px
        background: #023047
        border-radius: 12px
      &__disabled
        background: white
        border: 3px solid #219EBC
        color: #023047
      &:hover
        background: #023047
        color: white
  &__card
    max-width: 287px
    &__bg
    &__info
      &__btn
        width: 100%
        text-transform: capitalize
        padding: 15px 32px
        background: #219EBC
        border-radius: 12px
