.card
    position: relative
    border-radius: 12px
    max-width: 300px

    & img
        object-fit: cover
        filter: brightness(40%)
        border-radius: 12px

    &Main
        position: absolute
        width: 100%
        display: flex
        align-items: flex-end
        justify-content: space-between
        box-sizing: border-box
        padding: 15px 20px
        bottom: 0

        & button
            height: 40px
            border-radius: 8px
            border: none
            background: #2B54A5
            color: white
            cursor: pointer
    &Title
        margin: 0
        font-size: 18px
        font-weight: 400
        max-width: 150px
        max-height: 150px
        color: white
